@import "@Styles/Mixins";

.CalendarRowItem {
    &__item {
        width: 10px;
        height: 10px;
        border: 1px solid var(--button-bg);
    }

    &__active {
        background-color: white;
    }
}

