@import "@Styles/Vars.scss";

.sidebar {
    position: fixed;
    top: 0px;
    left: 0;
    padding: 75px 13px 13px 13px;
    width: $w-sidebar;
    height: 100%;
    background: var(--sidebar-bg);
    z-index: $ui-index-4;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.sidebar.hidden {
    transform: translateX(-100%);
}
