.container {
    margin: 100px 50px;
}


.CalendarPage {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.CalendarPage__wrapper {
    padding: 20px 30px 20px 30px;
    width: max-content;
    background-color: hsla(0, 0%, 0%, 0.344);
    // display: flex;
    // flex-wrap: wrap;
}
.CalendarPage__wrapper-box {
    background-color: rgb(48, 52, 51);
    display: flex;
}