/* App Variables */
:root {
  --body-bg: #ffffffda;
  --body-color: #373737;
  --link-color: #000080;
}

[data-theme="dark"] {
  --body-bg: #373737;
  --body-color: #fff;
  --link-color: #5656dd;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--body-color);
}

body {
  background: var(--body-bg);
  color: var(--body-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--body-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--body-bg);
  color: var(--body-color);
  border: var(--body-color) 1px solid;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

code {
  background: color-mix(in srgb,var(--body-bg),#000 15%);
  border-radius: 7px;
  padding: 5px;
}